[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pre-commit = "*"
flask = "*"
python-barcode = "*"
pillow = "*"
cerberus = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
